addOpacity {
  opacity: 1;
}

.gallery {
  background-color: #262626;
  width: 100%;
  height:100%;
}
.Button {
  z-index: 10;
  position:relative;
  top: 88px;
  width: 125px;
  height: 39px;
  left: 25%;
}

.Button2 {
  position:relative;  
  z-index: 10;
  top:22px;
  left:5%;
  bottom: 88px;
  right:150px;
  width:94px;
}
.Button3 {
  position:relative;  
  z-index: 10;
  position:relative;  
  z-index: 10;
  width:94px;
  top:22px;
  left:27%;
  bottom: 88px;
  right:180px;
}

#leftButton {
  fill: white;
  position: absolute;
  left: 0%;
  top:40%;
}

#rightButton {
  fill: white;
  position: absolute;
  left: 96%;
  top:40%;
}

#return {
  fill: white;
  position: absolute;
  left:96.5%;
  top:16px;
  width: 30px;
}

#return:hover, #rightButton:hover, #leftButton:hover {
  cursor: pointer;
}



#curImg {
  width: 100%;
  height:100%;
}





