
.image1 {
	grid-area: 'left';
	width: 517px;
	height: 295px;
}

.image2 {
	grid-area: 'right1';
	width: 251px;
	height: 145px;
}

.image3 {
	grid-area:'right2';
	width: 251px;
	height: 145px;
}

.image4 {
	grid-area:'right3';
	width: 251px;
	height: 145px;
}

.grid-counter{
	display: grid;
	grid-template-areas: 
	'left left right1 right2'
	'left left right3 right4';

}


